.card {
    display: flex;
    align-items: center;
    width: 350px;
    height: 550px;
    background-color: $White;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
    &__img img{
        width: 100%;
        border-radius: 15px;
    }
    &__description h1{
        @include texto;
        font-size: 2.3rem;
        font-weight: 700;
    }
    &__description p{
        @include texto;
        font-size: 1.7rem;
        color: $Grayish-blue;
    }
}
