footer {
    width: 100%; 
    height: 5vh;
    background-color: $Dark-blue;
}

.attribution {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-family: $Font1;
    color: $Grayish-blue;
    font-size: 2rem;
    font-weight: 700;
    a {
        color: $Grayish-blue;
    }
}